footer {
  background-color: #221c5a;
}

.footer {
  font-size: 16px;
  line-height: 36px;
  clear: both;
  color: #5b5881;
  text-align: center;
  padding: 100px 0;
  width: 100%;

  ul {
    list-style: none;
  }
}

.footer a {
  color: #5b5881;
}

.social-footer a {
  margin: 0 10px;
  font-size: 20px;
}
