<!-- About -->
<div id="about" class="section">
  <div class="block content-1170 center-relative row">

    <div class="section-content-holder bg-transparent col">
      <div class="row">
        <div class="col section-title-holder" style="background-color: transparent;">
        </div>
      </div>

      <div class="row">
        <div class="col content-title-holder bg-white">
          <p class="content-title">About</p>
        </div>
      </div>

      <div class="row bg-white">
        <div class="col text-left bg-white">
          Software Engineer with 15+ years experience mostly in finance and ecommerce fields. Focus
          since 2013 in modbile and web frontend development. Proficient in various technology stacks.
        </div>
        <br />
        <div class="col text-left bg-white">
          <span style="color: #e54b76;"><strong>1999 ·</strong></span> <span style="color:#727190;"><em>Siemens</em></span><br>
          <span style="color: #e54b76;"><strong>2000 ·</strong></span> <span style="color:#727190;"><em>Deutsche Bank</em></span><br>
          <span style="color: #e54b76;"><strong>2001 ·</strong></span> <span style="color:#727190;"><em>Baltic Kölln</em></span><br>
          <span style="color: #e54b76;"><strong>2010 ·</strong></span> <span style="color:#727190;"><em>b.telligent</em></span><br>
          <span style="color: #e54b76;"><strong>2011 ·</strong></span> <span style="color:#727190;"><em>Attachmate</em></span><br>
          <span style="color: #e54b76;"><strong>2012 ·</strong></span> <span style="color:#727190;"><em>Freelancer</em></span><br>
          <span style="color: #e54b76;"><strong>2016 ·</strong></span> <span style="color:#727190;"><em>Attempto</em></span><br>
        </div>
      </div>

      <div class="row full-width bg-white">
        <div class="col">
          <ul id="aboutImage" class="image-slider slides">
            <li><img src="/assets/images/about_img_04.jpg" alt=""></li>
            <li><img src="/assets/images/about_img_05.jpg" alt=""></li>
            <li><img src="/assets/images/about_img_06.jpg" alt=""></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="section-title-holder col-4">
      <div class="section-num">
        <span>02</span>
      </div>
      <h2 class="entry-title">ABOUT</h2>
    </div>

    <div class="clear"></div>
  </div>
</div>