<!-- Portfolio -->
<div id="portfolio" class="section">
  <div class="block content-1170 center-relative row">

    <div class="section-title-holder col-4">
      <div class="section-num">
        <span>03</span>
      </div>
      <h2 class="entry-title">Portfolio</h2>
    </div>

    <div class="section-content-holder portfolio-holder col">
      <div id="portfolio-grid">

        <div class="row">
          <div class="col section-title-holder" style="background-color: transparent;">
          </div>
        </div>

        <div class="row">
          <div class="col element-item p_one">
            <a href="single-portfolio.html">
              <img src="/assets/images/portfolio_item_01.jpg" alt="">
              <div class="portfolio-text-holder">
                <div class="portfolio-text-wrapper">
                  <p class="portfolio-type">
                    <img src="/assets/images/icon_post.svg" alt="">
                  </p>
                  <p class="portfolio-text">PSD MOCKUP</p>
                  <p class="portfolio-sec-text">Smart Watch</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col element-item p_one_half">
            <a href="single-portfolio2.html">
              <img src="/assets/images/portfolio_item_02.jpg" alt="">
              <div class="portfolio-text-holder">
                <div class="portfolio-text-wrapper">
                  <p class="portfolio-type">
                    <img src="/assets/images/icon_post.svg" alt="">
                  </p>
                  <p class="portfolio-text">PSD MOCKUP</p>
                  <p class="portfolio-sec-text">Smart Watch</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col element-item p_one_half">
            <a data-rel="prettyPhoto[gallery1]" href="/assets/images/portfolio_item_08.jpg">
              <img src="/assets/images/portfolio_item_08.jpg" alt="">
              <div class="portfolio-text-holder">
                <div class="portfolio-text-wrapper">
                  <p class="portfolio-type">
                    <img src="/assets/images/icon_post.svg" alt="">
                  </p>
                  <p class="portfolio-text">PSD MOCKUP</p>
                  <p class="portfolio-sec-text">Smart Watch</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col element-item p_one">
            <a data-rel="prettyPhoto[gallery1]" href="/assets/images/portfolio_item_05.jpg">
              <img src="/assets/images/portfolio_item_05.jpg" alt="">
              <div class="portfolio-text-holder">
                <div class="portfolio-text-wrapper">
                  <p class="portfolio-type">
                    <img src="/assets/images/icon_post.svg" alt="">
                  </p>
                  <p class="portfolio-text">PSD MOCKUP</p>
                  <p class="portfolio-sec-text">Smart Watch</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col block portfolio-load-more-holder">
          <a target="_self" class="more-posts">LOAD MORE</a>
          <img src="/assets/images/icon_infinity.svg" alt="Load more">
        </div>
      </div>

    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>