/* PORTFOLIO SECTION */

#portfolio
{
    background-color: #221C5A; 
    background-image: url(/assets/images/background_img_02.jpg); 
    background-repeat: no-repeat; 
    background-position: center top; 
    background-size: auto;
    z-index: 8;
}

#portfolio .section-title-holder
{
    background-color: rgb(255, 186, 66);
}

#portfolio .section-title-holder span
{
    color: #e3a436;
}

.page-template-page-portfolio .section
{
    padding-top: 100px;
}

.section-content-holder.portfolio-holder
{
    background-color: transparent;
    width: 800px;
    padding: 0;
}

.portfolio-holder .portfolio-load-more-holder
{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-size: 20px;
    width: 430px;
    background-color: #E74C78;
    text-align: center;
}

.portfolio-holder .portfolio-load-more-holder img 
{
    padding-bottom: 15px;
}

.portfolio-holder .portfolio-load-more-holder a
{
    color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
}

.portfolio-holder .portfolio-load-more-holder
{    
    margin-right: 0;
    margin-left: auto;
}

.more-posts
{ 
    display: block;
}

.more-posts:hover
{
    cursor: pointer;
}

.grid 
{
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: block;
}

.grid-item 
{
    float: left;
    font-size: 0;
    line-height: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
}

.grid-item img 
{
    display: block;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;    
}

.grid-sizer, .grid-item 
{
    width: 400px;
}

.grid-item.p_one_half
{
    width: 400px;
}

.grid-item.p_one
{
    width: 800px;
}

.portfolio-text-holder
{
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    font-size: 20px;
    background-color: white;
    text-align: center;   
    display: none;    
}

.portfolio-text-wrapper
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-type
{
    line-height: 100%;
    font-size: 11px;
    color: #9a9a9a;    
    padding-bottom: 20px;
}

.portfolio-type img 
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-text
{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.portfolio-sec-text
{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #8e8da9;
}

.grid-item a:hover
{
    color: #191919;
}

.more-posts-portfolio img
{
    transition: all .2s linear;
    width: 100px;
    height: 100px;
}

.more-posts-portfolio img:hover
{
    cursor: pointer;  
    transform: scale(0.9);
}

div.pp_default .pp_loaderIcon
{
    display: none !important;
}

/* END PORTFOLIO SECTION*/