/* SKILLS SECTION */

#skills {
  background-color: rgb(34, 28, 90);
  background-image: url("/assets/images/item_background_01.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  z-index: 4;

  .section-content-holder {
    background-color: transparent;
    padding-bottom: 0;
  }

  .content-wrapper {
    background-color: white;
    padding-bottom: 0.5rem;
  }
}

.progress_bar {
  margin-bottom: 15px;
}

.progress_bar_field_holder {
  height: 59px;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.progress_bar_field_holder:hover .progress_bar_title {
  left: 10px;
  color: #fff !important;
}

.progress_bar_field_holder:hover .progress_bar_percent_text {
  right: 10px;
  color: #fff !important;
}

.progress_bar_title {
  position: absolute;
  top: 8px;
  z-index: 2;
  left: -11px;
  font-weight: bold;
  color: white;
  font-size: 45px;
  line-height: 100%;
  transition: color 0.2s linear, left 0.2s linear;
}

.progress_bar_percent_text {
  position: absolute;
  right: -35px;
  top: 15px;
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 35px;
  line-height: 100%;
  transition: color 0.2s linear, right 0.2s linear;
}

.progress_bar_field_perecent {
  height: 59px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* END SKILLS SECTION */
