<!-- Skills -->

<div id="skills" class="section">
  <div class="row block content-1170 center-relative">
    <div class="section-title-holder col-4">
      <div class="section-num">
        <span>01</span>
      </div>
      <h2 class="entry-title">EXPERTISE</h2>
    </div>

    <div class="section-content-holder col">
      <div class="section-title-holder bg-transparent"></div>

      <div class="content-wrapper text-left">
        <div class="content-title-holder">
          <p class="content-title">Skills</p>
        </div>
        <p>
          Senior software engineer with focus on frontend development. 
        </p>
        <div class="progress_bar ">
          <div class="progress_bar_field_holder" style="width:93%;">
              <div class="progress_bar_title" style="color: #55B286">Web</div>
              <div class="progress_bar_percent_text" style="color: #55B286">93%</div>
              <div class="progress_bar_field_perecent" style="background-color:#32DB8A;"></div>
          </div>
        </div>
        <div class="progress_bar ">
          <div class="progress_bar_field_holder" style="width:72%;">
            <div class="progress_bar_title" style="color: #B24564">Design</div>
            <div class="progress_bar_percent_text" style="color: #B24564">72%</div>
            <div class="progress_bar_field_perecent" style="background-color:#E74C78;"></div>
          </div>
        </div>
        <div class="progress_bar ">
          <div class="progress_bar_field_holder" style="width:75%;">
              <div class="progress_bar_title" style="color: #E3A536">Architecture</div>
            <div class="progress_bar_percent_text" style="color: #E3A536">75%</div>
            <div class="progress_bar_field_perecent" style="background-color:#FFBB42;"></div>
          </div>
        </div>
        <div class="progress_bar ">
          <div class="progress_bar_field_holder" style="width:87%;">
              <div class="progress_bar_title" style="color: #468ac7">Mobile</div>
              <div class="progress_bar_percent_text" style="color: #468ac7">87%</div>
              <div class="progress_bar_field_perecent" style="background-color:#4C9EE7;"></div>
            </div>
        </div>
      </div>

    </div>
  </div>
  
</div>